@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h2>Recanto dos Idosos São Vicente de Paulo de Rancharia </h2>
    <p class="lead">Conheça sobre o Recanto dos Idosos, fundado em xxx .....</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Veja Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vem Aí... Show de Prêmios</h2>
        <p>
            Participe do nosso show de prêmios
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Veja Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vem Aí... Show de Prêmios</h2>
        <p>
            Participe do nosso show de prêmios
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Veja Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vem Aí... Show de Prêmios</h2>
        <p>
            Participe do nosso show de prêmios
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Veja Mais &raquo;</a></p>
    </div>
</div>